*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 1024px;
  height: 70px;
  background-color: #EC715F;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

header > :first-child{
  margin-right: auto;
}

.header-logo{
  height: 70px;
}

nav{
  line-height: 70px;
}

.nav-item{
  font-size: 16px;
  color: #FAFAFA;
  display: inline-block;
  margin: 0 30px;
  list-style: none;
}

.main-visual{
  width: 100%;
  height: 650px;
  margin: 0 auto;
  background-image: url("img/mv.png");
  background-size: cover;
  background-position: center;
}

.main-visual-content{
  text-align: center;
}

.main-visual-name{
  font-size: 64px;
  color: #FAFAFA;
  padding-top: 200px;
  margin-bottom: 10px;
}

.main-visual-text{
  font-size: 20px;
  color: #FAFAFA;
}

.portfolio{
  width: 920px;
  background-color: #ECEFF1;
  padding: 90px 0;
  margin: 0 auto;
}

.main-title{
  font-size: 32px;
  color: #000000;
  margin-bottom: 8px;
  text-align: center;
}

.main-title-border{
  width: 70px;
  border-bottom: 3px solid #EC715F;
  margin: 0 auto;
}

.main-text{
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
  text-align: center;
}

.portfolio-content{
  display: flex;
  flex-wrap: wrap;
}

.portfolio-image{
  width: 300px;
  height: 250px;
}

.portfolio-image:nth-child(1){
  background-image: url("img/sketch.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 10px 10px 0;
}

.portfolio-image:nth-child(2){
  background-image: url("img/websuku.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.portfolio-image:nth-child(3){
  background-image: url("img/write.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 0 10px 10px;
}

.portfolio-image:nth-child(4){
  background-image: url("img/webcamp.png");
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.portfolio-image:nth-child(5){
  background-image: url("img/talk.jpg");
  background-size: cover;
  background-position: center;
}

.portfolio-image:nth-child(6){
  background-image: url("img/webcamp-mother.png");
  background-size: cover;
  background-position: center;
  margin-left: 10px;
}

.feature{
  width: 980px;
  padding: 90px 0;
  margin: 0 auto;
}

.strength-content{
  display: flex;
}

.strength{
  width: 320px;
  text-align: center;
}

.strength:nth-child(2){
  margin: 0 10px;
}

.strength-icon{
  font-size: 60px;
}

.strength-title{
  font-size: 20px;
  color: #000000;
  padding: 10px 0px;
}

.strength-text{
  font-size: 16px;
  color: #000000;
}

.profile{
  width: 1024px;
  background-color: #ECEFF1;
  padding: 90px 0;
  margin: 0 auto;
}

.profile-contents{
  width: 100%;
  display: flex;
}

.profile-icon{
  text-align: center;
}

.profile-icon,.profile-explanation{
  width: 512px;
}

.profile-image{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-title{
  font-size: 20px;
  margin-bottom: 5px;
}

.myskills{
  padding-top: 20px;
}

.profile-text{
  font-size: 16px;
  color: #000000;
}

.contact{
  width: 800px;
  padding: 90px 0;
  margin: 0 auto;
}

.contact-contents{
  width: 800px;
  display: flex;
  text-align: center;
}

.information{
  width: 400px;
}

.information-title{
  font-size: 20px;
  margin-bottom: 5px
}

.tel{
  margin-top:20px ;
  margin-bottom: 5px;
}

.sns-icon{
  font-size: 50px;
  display: inline-block
}

.sns-icon:nth-child(3){
  margin: 0 20px;
}

footer{
  width: 100%;
  height: 60px;
  background-color: #EC715F;
}

.footer-text{
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
  line-height: 60px;
}

@media screen and (max-width:768px){
  header{
    width: 90%;
    height: 50px;
  }

  .header-logo{
    height: 50px;
  }

  nav{
    line-height: 50px;
  }

  /* チェックボックスを非表示にする */
  .drawer_hidden {
    display: none;
  }

  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
  }

  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }

  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }

  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }

  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }

  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  /* メニューのデザイン*/
  .nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
  }

  /* メニュー黒ポチを消す */
  .nav_list {
    list-style: none;
  }

  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    left: 0;/* メニューを画面に入れる */
  }

  .main-visual{
    width: 90%;
    height: 650px;
    background-image: url("img/code.png");
    background-size: cover;
    background-position: center;
  }

  .main-visual-content{
  text-align: center;
  }

  .main-visual-name{
    font-size: 40px;
  }

  .main-visual-text{
    font-size: 18px;
  }

  .portfolio{
    width: 90%;
    margin: 0 auto;
  }

  .portfolio-content{
    display: block;
  }

  .portfolio-image:nth-child(1){
    background-image: url("img/websuku.png");
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }

  .portfolio-image:nth-child(2){
    background-image: url("img/webcamp.png");
    background-size: cover;
    background-position: center;
    margin: 10px auto;
  }

  .portfolio-image:nth-child(3){
    background-image: url("img/webcamp-mother.png");
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }

  .portfolio-image:nth-child(4){
    display: none;
  }

  .portfolio-image:nth-child(5){
    display: none;
  }

  .portfolio-image:nth-child(6){
    display: none;
  }

  .feature{
    width: 90%;
  }

  .strength-content{
    display: block;
  }

  .strength{
    width: 90%;
    margin: 0 auto;
  }

  .strength:nth-child(2){
    margin: 10px auto;
  }

  .profile{
    width: 90%;
  }

  .profile-contents{
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  .profile-icon,.profile-explanation{
    width: 100%;
  }

  .profile-image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }

  .profile-title{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
  }

  .profile-text{
    text-align: center;
  }

  .contact{
    width: 90%;
  }

  .contact-contents{
    width: 100%;
    display: block;
  }

  .information{
    width: 100%;
    text-align: center;
  }

  .sns{
    margin-top: 20px;
  }

  footer{
    width: 100%;
  }
}
